/**===============================button start================================*/
.use-btn {
  .btn-pub {
    height: 1.6rem;
    border-radius: $bd-rd4;
    text-align: center;
    font-size: $ft-sz14;
    font-family: $fontFamily;
    padding: 0.28rem 0.75rem;
    text-decoration: none;
  }
  .btn-green {
    @extend .btn-pub;
    background: #2BA384;
    color: $ft-white;
    border: $bd-solid #238e72;
    cursor: pointer;
    &:hover{
      background-image: linear-gradient(-180deg, #56D0BA 0%, #2BA384 100%);
      border-radius: 4px;
    }
  }
  .btn-default {
    @extend .btn-pub;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
    border: $bd-solid #C8D2D7;
    color: $ft-black;
    cursor: pointer;
    &:hover{
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #EBEBEB 100%);
      border: 1px solid #C8D2D7;
      border-radius: 4px;
    }
  }

  .btn-blue {
    @extend .btn-pub;
    color: $ft-white;
    background: $cl-blue;
    border: $bd-solid  #196b98;
    cursor: pointer;
  }
  .btn-blue:hover{
    background-image: linear-gradient(-180deg, #3FB5DB 0%, #1E7EB4 100%);
    border-radius: 4px;
  }
  .btn-yellow{
    @extend .btn-pub;
    color: $ft-white;
    background: #FF9100;
    border: $bd-solid  #FF9100;
    cursor: pointer;
    &:hover{
      background-image: linear-gradient(-180deg, #FFC400 0%, #FF9100 100%);
      border-radius: 4px;
    }
  }
  .btn-orange{
    @extend .btn-pub;
    color: $ft-white;
    background: #FF5224;
    border-radius: 0.1rem;
    cursor: pointer;
  }
  .btn-gray{
    @extend .btn-pub;
    color:  #546E7A;
    background: #C8D2D7 100%;
    border-radius: 0.1rem;
    cursor: pointer;
  }

  .btn-file {
    position: relative;
    height: 1.6rem;
    padding: 0.35rem 0.75rem 0.4rem;
    cursor: pointer;
    input[type="file"] {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}
.use-btn-group{
  .button-child{
    height: 1.6rem;
    text-align: center;
    font-size: $ft-sz14;
    font-family: $fontFamily;
    padding: 0.28rem 0.75rem;
    border-radius: 2px 2px 0 0;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
    border: $bd-solid #C8D2D7;
    color: $ft-black;
    cursor: pointer;
  }
  .active{
    color: $ft-white;
    background: $cl-blue;
    border: $bd-solid  #196b98;
  }
}

//b2b订单 一条线上按钮组
.use-btn-wrap{
  background: #F2F5F8;
  border: 1px solid #CADEE8;
  border-radius: 0.2rem;
  height: 1.7rem;
  line-height: 0;
  button{
    &:hover{
      background: #1E7EB4;
      color: #FFFFFF;
      height: 100%;
    }
    font-family: $fontFamily;
    font-size: 0.7rem;
    color: #546E7A;
    letter-spacing: 0;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 26px;
    cursor: pointer;
  }
  button:first-child.active{
    background: #1E7EB4;
    color: #FFFFFF;
    height: 100%;
    border-radius: 0.2rem 0 0 0.2rem;
  }
  button.active{
    background: #1E7EB4;
    color: #FFFFFF;
    height: 100%;
    &:hover{
      background-image: linear-gradient(-180deg, #3FB5DB 0%, #1E7EB4 100%);
    }
  }
}

/**=============================== end ================================*/