@charset "UTF-8";
/**============================variable start=====================================*/
/**============================end=====================================*/
html {
  font-size: 125%; }

/**=====================================row column start================================*/
.use-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .use-row .col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%; }
  .use-row .col-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 10%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%; }
  .use-row .col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%; }
  .use-row .col-20 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .use-row .col-25 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .use-row .col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }
  .use-row .col-35 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%; }
  .use-row .col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }
  .use-row .col-45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%; }
  .use-row .col-50 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .use-row .col-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%; }
  .use-row .col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }
  .use-row .col-65 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%; }
  .use-row .col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%; }
  .use-row .col-80 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }
  .use-row .col-85 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%; }
  .use-row .col-90 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%; }
  .use-row .col-100 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

.use-row + .use-row {
  margin: 1rem 0; }

.baseline {
  width: 100%;
  height: 1px;
  background: #C9D8E0;
  margin: 1rem 0; }

.no-wrap {
  white-space: nowrap; }

/**==========================row column start================================*/
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/**===============================外边距=========================================*/
.mg-l-10 {
  margin-left: 0.5rem; }

.mg-l-20 {
  margin-left: 1rem; }

.mg-l-30 {
  margin-left: 1.5rem; }

.mg-l-40 {
  margin-left: 2rem; }

.mg-l-50 {
  margin-left: 2.5rem; }

.mg-t-10 {
  margin-top: 0.5rem; }

.mg-t-15 {
  margin-top: 0.75rem; }

.mg-t-20 {
  margin-top: 1rem; }

.mg-t-30 {
  margin-top: 1.5rem; }

.mg-t-40 {
  margin-top: 2rem; }

.mg-t-50 {
  margin-top: 2.5rem; }

/**===============================内边距=========================================*/
.pd-10-20 {
  padding: 0.5rem 1rem; }

.pd-10-30 {
  padding: 0.5rem 1.5rem; }

.pd-10-40 {
  padding: 0.5rem 2rem; }

.pd-10-50 {
  padding: 0.5rem 2.5rem; }

.pd-0 {
  padding: 0; }

.pd-5 {
  padding: 0.25rem; }

.pd-10 {
  padding: 0.5rem; }

.pd-20 {
  padding: 1rem; }

.pd-25 {
  padding: 1.25rem; }

.pd-30 {
  padding: 1.5rem; }

.pd-35 {
  padding: 1.75rem; }

.pd-40 {
  padding: 2rem; }

.pd-45 {
  padding: 2.25rem; }

.pd-50 {
  padding: 2.5rem; }

.pd-t-5 {
  padding-top: 0.25rem; }

.pd-t-10 {
  padding-top: 0.5rem; }

.pd-t-20 {
  padding-top: 1rem; }

.pd-t-25 {
  padding-top: 1.25rem; }

.pd-t-30 {
  padding-top: 1.5rem; }

.pd-t-35 {
  padding-top: 1.75rem; }

.pd-t-40 {
  padding-top: 2rem; }

.pd-t-45 {
  padding-top: 2.25rem; }

.pd-t-50 {
  padding-top: 2.5rem; }

.pd-b-5 {
  padding-bottom: 0.25rem; }

.pd-b-10 {
  padding-bottom: 0.5rem; }

.pd-b-20 {
  padding-bottom: 1rem; }

.pd-b-25 {
  padding-bottom: 1.25rem; }

.pd-b-30 {
  padding-bottom: 1.5rem; }

.pd-b-35 {
  padding-bottom: 1.75rem; }

.pd-b-40 {
  padding-bottom: 2rem; }

.pd-b-45 {
  padding-bottom: 2.25rem; }

.pd-b-50 {
  padding-bottom: 2.5rem; }

.pd-l-5 {
  padding-left: 0.25rem; }

.pd-l-10 {
  padding-left: 0.5rem; }

.pd-l-20 {
  padding-left: 1rem; }

.pd-l-25 {
  padding-left: 1.25rem; }

.pd-l-30 {
  padding-left: 1.5rem; }

.pd-l-35 {
  padding-left: 1.75rem; }

.pd-l-40 {
  padding-left: 2rem; }

.pd-l-45 {
  padding-left: 2.25rem; }

.pd-l-50 {
  padding-left: 2.5rem; }

.pd-r-5 {
  padding-right: 0.25rem; }

.pd-r-10 {
  padding-right: 0.5rem; }

.pd-r-20 {
  padding-right: 1rem; }

.pd-r-25 {
  padding-right: 1.25rem; }

.pd-r-30 {
  padding-right: 1.5rem; }

.pd-r-35 {
  padding-right: 1.75rem; }

.pd-r-40 {
  padding-right: 2rem; }

.pd-r-45 {
  padding-right: 2.25rem; }

.pd-r-50 {
  padding-right: 2.5rem; }

.pd-r-70 {
  padding-right: 3.5rem; }

.modal .modal-title {
  font-size: .85rem; }
.modal .modal-body {
  font-size: .75rem; }
.modal .modal-footer .btn {
  font-size: .7rem;
  padding: .35rem 0.85rem;
  cursor: pointer; }

.alert {
  font-size: 14px; }
  .alert .close {
    margin-left: 10px; }

/**=========================== input start=============================*/
.use-form .label-name {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 0.7rem;
  color: #263238;
  letter-spacing: 0;
  line-height: 1.6rem; }
.use-form .use-input {
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  border: 1px solid #D7DADD;
  width: 100%;
  height: 1.6rem;
  box-sizing: border-box; }
.use-form .input-btn-wrap {
  border: 1px solid #D7DADD;
  display: inline-block;
  width: 100%;
  border-radius: 0.2rem;
  text-align: right; }
  .use-form .input-btn-wrap input {
    padding: 0.1rem;
    border: none;
    width: calc(100% - 100px);
    height: 1.6rem;
    box-sizing: border-box; }
  .use-form .input-btn-wrap button {
    text-align: center;
    height: 1.6rem;
    border-radius: 0 0.1rem 0.1rem 0;
    font-size: 0.7rem;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    padding: 0.25rem 0.75rem;
    color: #FFFFFF;
    background: #1E7EB4;
    border: 1px solid #1E7EB4;
    cursor: pointer;
    margin-left: -0.25rem;
    width: 4.5rem; }
.use-form .text-form {
  padding: 0.1rem;
  border-radius: 0.2rem;
  border: 1px solid #D7DADD;
  width: 100%;
  height: 4rem;
  box-sizing: border-box; }

.input-group input, .input-group select {
  width: 6.5rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
  border: 1px solid #D7DADD;
  height: 1.6rem;
  box-sizing: border-box; }

.b2b-form label {
  display: inline-block;
  width: 80px;
  margin: 0;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 0.7rem;
  color: #263238;
  letter-spacing: 0;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.b2b-form input, .b2b-form select {
  padding: 0.1rem 0.3rem;
  font-size: 0.7rem;
  color: #263238;
  border-radius: 0.2rem;
  border: 1px solid #D7DADD;
  width: calc(90% - 80px);
  height: 1.6rem;
  box-sizing: border-box;
  min-width: 220px; }
.b2b-form .date {
  width: calc((90% - 100px)/2);
  min-width: 100px; }

.use-checkbox input::before {
  content: url("img/check-default.png"); }
.use-checkbox input:checked::before {
  content: url("img/check.png"); }

/**=========================== input end=============================*/
/**===============================button start================================*/
.wrap table tbody tr  .use-btn{text-align:left !important;}
.use-btn .btn-pub, .use-btn .btn-green, .use-btn .btn-default, .use-btn .btn-blue, .use-btn .btn-yellow, .use-btn .btn-orange, .use-btn .btn-gray {
  height: 1.6rem;
  border-radius: 0.2rem;
  text-align: center;
  font-size:13px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  padding: 0.28rem 0.75rem;
  text-decoration: none; }
.use-btn .btn-green {
  background: #2BA384;
  color: #FFFFFF;
  border: 1px solid #238e72;
  cursor: pointer; }
  .use-btn .btn-green:hover {
    background-image: linear-gradient(-180deg, #56D0BA 0%, #2BA384 100%);
    border-radius: 4px; }
.use-btn .btn-default {
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
  border: 1px solid #C8D2D7;
  color: #263238;
  cursor: pointer; }
  .use-btn .btn-default:hover {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #EBEBEB 100%);
    border: 1px solid #C8D2D7;
    border-radius: 4px; }
.use-btn .btn-blue {
  color: #FFFFFF;
  background: #1E7EB4;
  border: 1px solid #196b98;
  cursor: pointer; }
.use-btn .btn-blue:hover {
  background-image: linear-gradient(-180deg, #3FB5DB 0%, #1E7EB4 100%);
  border-radius: 4px; }
.use-btn .btn-yellow {
  color: #FFFFFF;
  background: #FF9100;
  border: 1px solid #FF9100;
  cursor: pointer; }
  .use-btn .btn-yellow:hover {
    background-image: linear-gradient(-180deg, #FFC400 0%, #FF9100 100%);
    border-radius: 4px; }
.use-btn .btn-orange {
  color: #FFFFFF;
  background: #FF5224;
  border-radius: 0.1rem;
  cursor: pointer; }
.use-btn .btn-gray {
  color: #546E7A;
  background: #C8D2D7 100%;
  border-radius: 0.1rem;
  cursor: pointer; }
.use-btn .btn-file {
  position: relative;
  height: 1.6rem;
  padding: 0.35rem 0.75rem 0.4rem;
  cursor: pointer; }
  .use-btn .btn-file input[type="file"] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }

.use-btn-group .button-child {
  height: 1.6rem;
  text-align: center;
  font-size: 0.7rem;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  padding: 0.28rem 0.75rem;
  border-radius: 2px 2px 0 0;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
  border: 1px solid #C8D2D7;
  color: #263238;
  cursor: pointer; }
.use-btn-group .active {
  color: #FFFFFF;
  background: #1E7EB4;
  border: 1px solid #196b98; }

.use-btn-wrap {
  background: #F2F5F8;
  border: 1px solid #CADEE8;
  border-radius: 0.2rem;
  height: 1.7rem;
  line-height: 0; }
  .use-btn-wrap button {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.7rem;
    color: #546E7A;
    letter-spacing: 0;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 26px;
    cursor: pointer; }
    .use-btn-wrap button:hover {
      background: #1E7EB4;
      color: #FFFFFF;
      height: 100%; }
  .use-btn-wrap button:first-child.active {
    background: #1E7EB4;
    color: #FFFFFF;
    height: 100%;
    border-radius: 0.2rem 0 0 0.2rem; }
  .use-btn-wrap button.active {
    background: #1E7EB4;
    color: #FFFFFF;
    height: 100%; }
    .use-btn-wrap button.active:hover {
      background-image: linear-gradient(-180deg, #3FB5DB 0%, #1E7EB4 100%); }

/**=============================== end ================================*/
.use-title {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 0.9rem;
  color: #263238;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 0.25rem; }

.result-num {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 0.75rem;
  color: #263238;
  letter-spacing: 0;
  line-height: 1.6rem; }

.use-table {
  margin-top: 0.5rem;
  border: 1px solid #CADEE7; }
  .use-table .use-head th {
    background: #546E7A;
    color: #FFFFFF;
    border-left: 1px solid #668491;
    font-size: 13px; }
  .use-table .use-body tr td {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size:13px;
    color: #263238;
    border-bottom-color: #CADEE7;
    border-top-color: #CADEE7;
    border-left-color: #ECEFF1;
    border-right-color: #ECEFF1;
  }
  .use-table .use-body tr td:first-child {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    border-left: none; }
  .use-table .use-child-table .use-child-head th {
    background: #1E7EB4;
    color: #FFFFFF;
    border-left: 1px solid #1E7EB4;
    font-size: 0.7rem; }
  .use-table .use-child-table .use-child-head th:first-child {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    border-left: 1px solid #1E7EB4; }
  .use-table .use-child-table .use-child-head th:last-child {
    border-right: 1px solid #1E7EB4; }
  .use-table .use-child-table .use-child-body tr td {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.75rem;
    color: #263238;
    border-left: 1px solid #CADEE7;
    background: #FFFEEC;
    padding: 0.425rem; }

.use-table-one {
  margin-top: 0.5rem;
  border: 1px solid #cadee7;
  width: 100%; }
  .use-table-one caption {
    background: #546E7A;
    height: 2rem;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 0 1rem;
    line-height: 2rem;
    border: 1px solid #546E7A; }
  .use-table-one .use-head th {
    background: #546E7A;
    color: #546E7A;
    border-left: 1px solid #668491;
    font-size: 0.7rem; }
  .use-table-one .use-body tr td {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.7rem;
    color: #263238;
    border-left: 1px solid #CADEE7;
    border-bottom: 1px solid #ECEFF1; }
  .use-table-one .use-body tr td:first-child {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    border-left: none; }
  .use-table-one .use-body tr td:nth-of-type(odd) {
    background: #F7F9FB;
    text-align: center;
    width: 10%; }
  .use-table-one .use-body .input-form, .use-table-one .use-body .input-date {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box;
    padding: 0 0.5rem; }
  .use-table-one .use-body .input-date + i {
    margin-left: -30px;
    color: #546e7a; }
  .use-table-one .check-radio .check-item {
    padding: 0 0.25rem;
    margin: 0.25rem 0;
    display: inline-block;
    cursor: pointer; }
  .use-table-one .check-radio .check-item-pick {
    padding: 0 0.25rem;
    margin: 0.25rem 0;
    display: inline-block;
    cursor: pointer; }
  .use-table-one .check-radio .check-item::before {
    content: url("./img/radio-default.png");
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px; }
  .use-table-one .check-radio .check-item-pick::before {
    content: url("./img/radio.png");
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px; }
  .use-table-one .input-wrap {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box; }
    .use-table-one .input-wrap input {
      border: none;
      width: calc(100% - 25px);
      height: 100%;
      padding: 0 0.5rem;
      font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
      font-size: 0.7rem;
      color: #263238;
      box-sizing: border-box;
      letter-spacing: 0; }
    .use-table-one .input-wrap i::before {
      content: url("./img/search.png");
      vertical-align: sub;
      margin-right: 5px;
      cursor: pointer; }

.use-table-two {
  margin-top: 0.5rem;
  border: 1px solid #cadee7;
  width: 100%; }
  .use-table-two caption {
    background: #546E7A;
    height: 2rem;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 0 1rem;
    line-height: 2rem;
    border: 1px solid #546E7A;
    text-align: left; }
  .use-table-two .use-head th {
    background: #546E7A;
    color: #546E7A;
    border-left: 1px solid #668491;
    font-size: 0.7rem; }
  .use-table-two .use-body tr td {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size:13px;
    color: #263238;
    border-left: 1px solid #CADEE7;
    border-bottom: 1px solid #CADEE7;
    padding: 0.5rem 0.25rem; }
  .use-table-two .use-body tr td:first-child {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    border-left: none; }
  .use-table-two .use-body tr td:nth-of-type(odd) {
    background: #F7F9FB;
    text-align: center;
    width: 13%; }
  .use-table-two .use-body tr td:nth-of-type(even) {
    text-align: left; }
  .use-table-two .use-body .input-form, .use-table-two .use-body .input-date {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box;
    padding: 0 0.5rem; }
  .use-table-two .use-body .input-date + i {
    margin-left: -30px;
    color: #546e7a; }
  .use-table-two .check-radio .check-item {
    padding: 0 0.25rem;
    margin: 0.25rem 0;
    display: inline-block;
    cursor: pointer; }
  .use-table-two .check-radio .check-item-pick {
    padding: 0 0.25rem;
    margin: 0.25rem 0;
    display: inline-block;
    cursor: pointer; }
  .use-table-two .check-radio .check-item::before {
    content: url("./img/radio-default.png");
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px; }
  .use-table-two .check-radio .check-item-pick::before {
    content: url("./img/radio.png");
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px; }
  .use-table-two .text-tag {
    border: 1px solid #C31207;
    border-radius: 4px;
    padding: 0 10px;
    color: #C31207; }

.b2b-table {
  width: 100%;
  border:1px solid #CADEE7;
}
  .b2b-table .use-head {
    background: #546E7A;
    border: 1px solid #CADEE7; }
    .b2b-table .use-head th {
      font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
      border: 1px solid #537a8c;
      font-size: 0.7rem;
      color: #FFFFFF;
      letter-spacing: 0;
      white-space: nowrap;
      height: 2rem;
      padding: 0 10px;
      text-align: center; }
  .b2b-table .use-body tr:nth-of-type(even) {
    background: #F7F9FB;
    border: 1px solid #CADEE7; }
  .b2b-table .use-body td {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size:13px;
    color: #263238;
    letter-spacing: 0;
    padding: 10px 5px;
    text-align: center;
    border-bottom:1px solid #CADEE7;
    border-top:1px solid #CADEE7;
    border-left:1px solid #ECEFF1;
    border-right:1px solid #ECEFF1;
  }

.b2b-table-one {
  margin-top: 0.5rem;
  border: 1px solid #cadee7;
  width: 100%; }
  .b2b-table-one caption {
    background: #546E7A;
    height: 2rem;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 0 1rem;
    line-height: 2rem;
    border: 1px solid #546E7A;
    caption-side: top; }
  .b2b-table-one .use-head th {
    background: #546E7A;
    color: #546E7A;
    border-left: 1px solid #668491;
    font-size: 0.7rem; }
  .b2b-table-one .use-body tr td {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size:13px;
    color: #263238;
    border-left: 1px solid #CADEE7;
    border-bottom: 1px solid #ECEFF1;
    vertical-align: middle;
    padding: 8px; }
    .b2b-table-one .use-body tr td label {
      margin: 0; }
  .b2b-table-one .use-body tr td:first-child {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    border-left: none; }
  .b2b-table-one .use-body tr td:nth-of-type(odd) {
    background: #F7F9FB;
    text-align: center;
    width: 10%; }
  .b2b-table-one .use-body tr td:nth-of-type(even) {
    width: 40%; }
  .b2b-table-one .use-body .select-group select {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    height: 1.6rem;
    box-sizing: border-box;
    padding: 0 0.5rem;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.7rem;
    color: #263238; }
  .b2b-table-one .use-body .select-group .three-width {
    width: 30%; }
  .b2b-table-one .use-body .select-group .four-width {
    width: 23%;
    margin: 5px auto; }
  .b2b-table-one .use-body .input-form, .b2b-table-one .use-body .input-date {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box;
    padding: 0 0.5rem; }
  .b2b-table-one .use-body .text-form {
    padding: 0.1rem;
    border-radius: 0.2rem;
    border: 1px solid #D7DADD;
    width: 100%;
    height: 4rem;
    box-sizing: border-box; }
  .b2b-table-one .use-body .input-date + i {
    margin-left: -30px;
    color: #546e7a; }
  .b2b-table-one .check-radio .check-item {
    padding: 0 0.25rem;
    margin: 0.25rem 0;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none; }
  .b2b-table-one .check-radio .check-item-pick {
    padding: 0 0.25rem;
    margin: 0.25rem 0;
    display: inline-block;
    cursor: pointer; }
  .b2b-table-one .check-radio .check-item::before {
    content: url("./img/radio-default.png");
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px; }
  .b2b-table-one .check-radio .check-item-pick::before {
    content: url("./img/radio.png");
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px; }
  .b2b-table-one .input-date {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box; }
    .b2b-table-one .input-date input {
      border: none;
      width: calc(100% - 30px);
      height: 100%;
      padding: 0 0.5rem;
      font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
      font-size: 0.7rem;
      color: #263238;
      box-sizing: border-box;
      letter-spacing: 0; }
    .b2b-table-one .input-date i::before {
      content: url("./img/date.png");
      vertical-align: sub;
      margin-right: 5px;
      cursor: pointer; }
  .b2b-table-one .input-wrap {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box; }
    .b2b-table-one .input-wrap input {
      border: none;
      width: calc(100% - 25px);
      height: 100%;
      padding: 0 0.5rem;
      font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
      font-size: 0.7rem;
      color: #263238;
      box-sizing: border-box;
      letter-spacing: 0; }
    .b2b-table-one .input-wrap i::before {
      content: url("./img/search.png");
      vertical-align: middle;
      margin-right: 5px;
      cursor: pointer; }

.b2b-table-two {
  margin-top: 0.5rem;
  border: 1px solid #cadee7;
  width: 100%; }
  .b2b-table-two caption {
    background: #546E7A;
    height: 2rem;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 0 1rem;
    line-height: 2rem;
    border: 1px solid #546E7A;
    caption-side: top; }
  .b2b-table-two .use-head th {
    background: #546E7A;
    color: #546E7A;
    border-left: 1px solid #668491;
    font-size: 0.7rem; }
  .b2b-table-two .use-body tr td {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.7rem;
    color: #263238;
    border-left: 1px solid #CADEE7;
    border-bottom: 1px solid #ECEFF1;
    vertical-align: middle;
    padding: 8px; }
    .b2b-table-two .use-body tr td label {
      margin: 0; }
  .b2b-table-two .use-body .bg-td {
    background: #F7F9FB;
    text-align: center;
    width: 10%; }

.b2b-table-three {
  margin-top: 0.5rem;
  border: 1px solid #cadee7;
  width: 100%; }
  .b2b-table-three caption {
    background: #546E7A;
    height: 2rem;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 0 1rem;
    line-height: 2rem;
    border: 1px solid #546E7A;
    caption-side: top; }
  .b2b-table-three .use-head th {
    background: #F7F9FB;
    border: 1px solid #CADEE7;
    font-size: 0.7rem;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    color: #566F7B;
    letter-spacing: 0;
    padding: 10px 5px;
    text-align: center; }
    .b2b-table-three .use-head th .input-form, .b2b-table-three .use-head th .use-table-one .use-body .input-date, .use-table-one .use-body .b2b-table-three .use-head th .input-date, .b2b-table-three .use-head th .use-table-two .use-body .input-date, .use-table-two .use-body .b2b-table-three .use-head th .input-date, .b2b-table-three .use-head th .b2b-table-one .use-body .input-date, .b2b-table-one .use-body .b2b-table-three .use-head th .input-date {
      background: #FFFFFF;
      border: 1px solid #C8D2D7;
      border-radius: 0.2rem;
      display: inline-block;
      width: 100%;
      height: 1.6rem;
      box-sizing: border-box;
      padding: 0 0.5rem; }
  .b2b-table-three .use-body td {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    color: #263238;
    border-left: 1px solid #CADEE7;
    border-bottom: 1px solid #ECEFF1;
    font-size: 0.7rem;
    vertical-align: middle;
    padding: 8px;
    text-align: center; }
    .b2b-table-three .use-body td label, .b2b-table-three .use-body td p {
      margin: 0; }
  .b2b-table-three .use-body .diff td, .b2b-table-three .use-body .diff th {
    background: #FFF7EB; }
  .b2b-table-three .use-body .input-form, .b2b-table-three .use-table-one .use-body .input-date, .use-table-one .b2b-table-three .use-body .input-date, .b2b-table-three .use-table-two .use-body .input-date, .use-table-two .b2b-table-three .use-body .input-date, .b2b-table-three .b2b-table-one .use-body .input-date, .b2b-table-one .b2b-table-three .use-body .input-date {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box;
    padding: 0 0.5rem; }
  .b2b-table-three .use-body .input-wrap {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box; }
    .b2b-table-three .use-body .input-wrap input {
      border: none;
      width: calc(100% - 25px);
      height: 100%;
      padding: 0 0.5rem;
      font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
      font-size: 0.7rem;
      color: #263238;
      box-sizing: border-box;
      letter-spacing: 0; }
      .b2b-table-three .use-body .input-wrap input:focus {
        border: none; }
    .b2b-table-three .use-body .input-wrap i::before {
      content: url("./img/search.png");
      vertical-align: middle;
      margin-right: 5px;
      cursor: pointer; }
  .b2b-table-three .use-body .input-date {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    border-radius: 0.2rem;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    box-sizing: border-box; }
    .b2b-table-three .use-body .input-date input {
      border: none;
      width: calc(100% - 30px);
      height: 100%;
      padding: 0 0.5rem;
      font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
      font-size: 0.7rem;
      color: #263238;
      box-sizing: border-box;
      letter-spacing: 0; }
    .b2b-table-three .use-body .input-date i::before {
      content: url("./img/date.png");
      vertical-align: sub;
      margin-right: 5px;
      cursor: pointer; }
  .b2b-table-three .use-body .select-input {
    white-space: nowrap; }
    .b2b-table-three .use-body .select-input select {
      background: #FFFFFF;
      border: 1px solid #C8D2D7;
      display: inline-block;
      width: 75px;
      height: 1.6rem;
      box-sizing: border-box;
      border-right: none;
      border-radius: 0.25rem 0 0 0.25rem;
      margin-right: -5px; }
    .b2b-table-three .use-body .select-input input {
      background: #FFFFFF;
      border: 1px solid #C8D2D7;
      display: inline-block;
      width: calc(100% - 80px);
      height: 1.6rem;
      box-sizing: border-box;
      border-radius: 0 0.25rem 0.25rem 0; }

/*# sourceMappingURL=public.style.css.map */
