.option-search-box {
  z-index: 9999;
  width: 860px;
  height: 640px;
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20);
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 30px;
  .option-info-item {
    font-size: 14px;
    color: #263238;
    letter-spacing: 0;
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    width: 175px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 0px;
  }
  h3 {
    font-size: 18px;
    color: #263238;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 64px;
  }
  h4 {
    font-size: 14px;
    color: #263238;
    letter-spacing: 0;
    font-weight: 600;
    text-align: left;
    line-height: 32px;
  }
  .el-icon-close {
    float: right;
    color: #546E7A;
    font-size: 14px;
    margin-top: 25px;
  }
  .el-row {
    background-color: #F6F9FA;
    padding-bottom: 20px;
  }
  .option-add {
    padding: 20px 20px 20px 10px;
    line-height: 32px;
    font-size: 14px;
    color: #263238;
  }
  .el-select {
    width: 100%;
  }
  .el-icon-search {
    font-size: 16px;
  }
  .option-search {
    padding: 20px 30px 20px 0px;
    background: #ffffff;
  }
  .erp-addoption-btns {
    text-align: right;
    padding-top: 20px;
    button {
      width: 80px;
      height: 32px;
      padding: 0px;
    }
    .el-button--primary {
      background: #1E7EB4;
      border-radius: 4px;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
    }
    .el-button--default {
      background: #FFFFFF;
      border: 1px solid #C8D2D7;
      border-radius: 4px;
      font-size: 14px;
      color: #546E7A;
      letter-spacing: 0;
    }
  }
}

.erp-mian-content {
  padding: 10px 20px;
  header {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 16px;
    height: 40px;
    line-height: 40px!important;
    text-align: left;
    padding-left: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    background: #546E7A;
    margin-top: 20px;
  }
  .el-select,
  .el-input,
  .el-input__inner {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif !important;
    font-size: 13px;
    color: #263238;
    letter-spacing: 0;
    height: 32px;
  }
  textarea,
  {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif !important;
    font-size: 13px;
    color: #263238;
    letter-spacing: 0;
  }
}

.el-tabs__header {
  border: none;
  .el-tabs__active-bar {
    left: 14px;
    height: 2px;
    margin-bottom: 0px;
  }
  .el-tabs__item {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 18px;
    color: #546E7A;
    letter-spacing: 0;
    padding-left: 0px;
    padding-right: 16px;
    margin-top: 20px;
  }
  .el-tabs__item.is-active {
    color: #263238;
    font-weight: 600;
  }
  .el-tabs__active-bar {
    background: #FF5224;
    width: 40px !important;
  }
}

.erp-brand-info,
.erp-goods-info {
  width: 100%;
  border: 1px solid #CADEE7;
  .tr-1 {
    height: 50px;
  }
  .tr-2 {
    height: 92px;
  }
  .tr-goods {
    height: 51px;
  }
  td {
    padding: 9px 20px 9px 20px;
    border-right: 1px solid #CADEE7;
    border-top: 1px solid #ECEFF1;
    width: 19%;
    .el-select {
      width: 100%;
    }
    .el-textarea {
      width: 100%;
    }
    .el-input__inner {
      height: 32px;
      width: 100%;
    }
  }
  .info-title {
    background: #F7F9FB;
    font-size: 13px;
    color: #546E7A;
    letter-spacing: 0;
    padding: 0px;
    width: 100px;
    span {
      font-size: 13px;
      color: #263238;
      letter-spacing: 0;
    }
  }
  .category.info-title {
    vertical-align: middle;
  }
}

.erp-goods-pic {
  width: 100%;
  border: 1px solid #CADEE7;
  td {
    padding: 28px 52px 35px;
    .img-content {
      height: 300px;
      border: 1px solid #C8D2D7;
    }
    span {
      float: left;
      font-size: 14px;
      color: #546E7A;
      letter-spacing: 0;
      margin-top: 23px;
    }
    button {
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #EFEFEF 100%);
      border: 1px solid #C8D2D7;
      border-radius: 4px;
      font-size: 14px;
      color: #263238;
      letter-spacing: 0;
      float: right;
      margin-top: 20px;
      width: 80px;
      height: 26px;
      cursor: pointer;
    }
  }
}

.erp-addgoods-btns,
.erp-addsku-btns {
  margin: 60px 0px 100px;
  button {
    width: 110px;
    height: 44px;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: 0;
    margin-right: 30px;
  }
  button.el-button--default {
    background: #FFFFFF;
    border: 1px solid #C8D2D7;
    color: #546E7A;
  }
  button.el-button--primary {
    background: #1E7EB4;
    color: #FFFFFF;
  }
}

.sku-item {
  text-align: left;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  span {
    padding-right: 18px;
    font-size: 13px;
    color: #263238;
    letter-spacing: 0;
    height: 40px;
    display: inline-block;
  }
  .el-input__inner {
    height: 32px;
    width: 286px;
  }
  .el-select {
    margin-right: 40px;
  }
}

.erp-add-sku {
  width: 100%;
  border: 1px solid #CADEE7;
  tr {
    width: 100%;
    text-align: left;

    td {
      border-right: 1px solid #CADEE7;
      border-top: 1px solid #ECEFF1;
    }
    .opiont_name {
      padding: 0px 20px;
      width: 40%;
      li {
        width: 23%;
        padding: 0px 5px;
      }
    }
    .option_value {
      line-height: 36px;
      padding: 0px 20px;
      width: 60%;
      .el-icon-search {
        padding: 0px 20px;
        cursor: pointer;
      }
    }
  }
  .add-sku-title {
    font-size: 14px;
    color: #546E7A;
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    background: #F7F9FB;
    td {
      padding-left: 20px;
      border-bottom: 1px solid #CADEE7;
    }
  }
  .add-sku-option {
    height: 95px;
    ul {
      li {
        float: left;
        margin: 5px 0px;
        .el-input {
          height: 32px;
        }
      }
    }
  }
}

.add-sku-btn {
  font-size: 14px;
  color: #263238;
  letter-spacing: 0;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #EFEFEF 100%);
  border: 1px solid #C8D2D7!important;
  border-radius: 4px;
  height: 26px;
  width: 66px;
  padding: 0px;
  i {
    color: #90A4AE;
    font-size: 14px;
  }
  span {
    color: #263238;
  }
}
.add-sku-btn:visited,.add-sku-btn:active,.add-sku-btn:hover{
  border: 1px solid #C8D2D7!important;
}
.apply_btn {
  float: right;
  margin-top: 6px;
  margin-right: 12px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  border: none;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #EFEFEF 100%);
  background: #FF9100;
  border-radius: 4px;
  height: 26px;
  width: 66px;
  padding: 0px;
  span {
    color: #FFFFFF;
  }
}

.apply_btn:hover,
.apply_btn:visited,
.apply_btn:active,
.apply_btn:link {
  color: #FFFFFF;
}

.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.erp-sku-info {
  width: 100%;
  border: 1px solid #CADEE7;
  thead {
    background: #F7F9FB;
    th {
      border-right: 1px solid #CADEE7;
      border-bottom: 1px solid #CADEE7;
      width: 10%;
      height: 50px;
      font-size: 13px;
      color: #546E7A;
      letter-spacing: 0;
      text-align: center;
      padding: 0px 10px;
      .el-row {
        line-height: 32px;
        span{
          height:32px;
          display:block;
        }
      }
    }
  }
  td {
    border-right: 1px solid #CADEE7;
    height: 50px;
    padding: 0px 10px;
    font-size: 13px;
    color: #263238;
    letter-spacing: 0;
    border-bottom:1px solid #CADEE7;
  }
}
