.erp-mian-content {
  padding:30px;
}

.parting-line {
  background: #C9D8E0;
  height: 1px;
  margin: 30px 0px;
}

.erp-goods-list {
  font-size: 13px;
  color: #263238;
  .el-input,
  .el-select,
  .el-input__inner {
    width: 100%;
    height: 32px;
  }
 .other-title{
    font-size: 13px;
    color: #546E7A;
    float: right;
    padding-right:8px;
    width: 60px;
  }
  .first-title {
    text-align: left;

  }
  .search-condition-select {
    width: 90px;
  }
  .business-type {
    .el-select {
      width: 25%;
      padding: 0px 5px;
    }
  }
  .el-checkbox__label {
    font-size: 13px;
    color: #263238;
  }
  .gl-row01 {
    margin-top: 30px;
    height: 32px;
    line-height: 32px;
    .business-type {
      text-align: left;
    }
    .el-input__inner{
    	color: #263238;
    }
  }
  .gl-row02 {
    margin-top: 22px;
    line-height: 20px;
  }
  .gl-row03 {
    margin-top: 22px;
    line-height: 20px;
  }
  .gl-row04 {
    margin-top: 15px;
    line-height: 32px;
  }
  .el-checkbox__inner {
    width: 16px;
    height: 16px;
  }
  .el-checkbox-group {
    text-align: left;
    .el-checkbox {
      width: 15%;
    }
  }
  .el-checkbox__inner::after {
    left: 4px;
    height: 7px;
  }
  .query-btns {
    text-align: left;
    margin-top: 30px;
    button {
      width: 80px;
      height: 32px;
      font-size: 14px;
      border-radius: 4px;
    }
    .query-btn {
      padding: 0px;
      background: #2BA384;
      color: #FFFFFF;
    }
    .reset-btn {
      padding: 0px;
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #FCFCFC 100%);
      border: 1px solid #CADEE7;
      color: #546E7A;
    }
  }
  .el-table__header {
    thead {
      td {
        background: #546E7A;
        div {
          background: #546E7A;
        }
      }
    }
  }
}

.query-result-list {
  h3 {
    font-size: 14px;
    color: #263238;
    line-height: 28px;
    text-align:left;
    font-weight:600;
    margin-bottom:10px;
    span{
    	font-size:16px;
    }
  }
  .el-table{
  	border: 1px solid #CADEE7;
  	border-bottom:none;
  	td,th{
  		border-bottom: 1px solid #CADEE7;
  		border-right:1px solid #CADEE7;
  		text-align:center;
  	}
  	td{
  		height:50px;
  	}
  	th{
  		height:40px;
  		font-size: 14px;
  		background: #546E7A;
  		div{
  			color: #FFFFFF;
  			background: #546E7A;
  		}
  	}
  	button{
  		width: 50px;
  		height: 24px;
  		border-radius: 4px;	
  		padding:0px;
  		margin-left: 3px;
  	}
  	.cell{
  		padding:0px 5px;
  	}
  	.see-detail{
		background: #2BA384;
  	}
  	.do-review{
      background:#1E7EB4;
  	}
  }
  .el-table--striped .el-table__body tr.el-table__row--striped td {
		background: #F7F9FB;
  }

}

.el-picker-panel.el-date-range-picker.has-sidebar {
  left: 430px !important;
}
